<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="appSection"
				 type="BclFileWatcherConsole.Configuration.UserAppConfiguration"/>
	</configSections>
	<appSection appName="FileWatcherConsole App">
		<culture name="en-En"/>
		<directories>
			<dir path="d:\\example"/>
		</directories>
		<rules>
			<rule fileNamePattern="" pathDirMoveTo="" shoudAddCounter="false" shoudAddMoveDate="false"/>
			<rule fileNamePattern="" pathDirMoveTo="" shoudAddCounter="false" shoudAddMoveDate="false"/>
		</rules>
		<defaultDirectory path=""/>
	</appSection>
</configuration>