<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="appSection" 
				 type="BclFileWatcherConsole.Configuration.AppConfigurationSection, BclFileWatcherConsole"/>
	</configSections>
	<appSection configSource="User.config"/>
	<appSettings>
		<add key="SectionName" value="appSection"/>
		<add key="serilog:using:Console" value="Serilog.Sinks.Console"/>
		<add key="serilog:write-to:Console.theme" value="Serilog.Sinks.SystemConsole.Themes.AnsiConsoleTheme::Code, Serilog.Sinks.Console"/>
		<add key="serilog:write-to:Console.outputTemplate" value="[{Level:u3}] {Message:lj} {NewLine}{Exception}"/>
		<add key="serilog:using:File" value="Serilog.Sinks.File" />
		<add key="serilog:write-to:File.path" value="log.txt" />
	</appSettings>
</configuration>