<?xml version="1.0" encoding="utf-8" ?>
<appSection appName="FileWatcherConsole">
	<culture name="en-US"/>
	<directories>
		<dir path="d:\example"/>
		<dir path="d:\example"/>
		<dir path="d:\exampleNew"/>
	</directories>
	<rules>
		<rule fileNamePattern="\w*1.txt" pathDirMoveTo="txt_Files" shoudAddCounter="true" shoudAddMoveDate="true"/>
		<rule fileNamePattern="gdfg" pathDirMoveTo="gdfg" shoudAddCounter="false" shoudAddMoveDate="false"/>
	</rules>
	<defaultDirectory path="123"/>
</appSection>