<?xml version="1.0" encoding="utf-8" ?>
<appSection appName="FileWatcherConsole">
	<culture name="ru-Ru"/>
	<directories>
		<dir path="d:\\example"/>
	</directories>
	<rules>
		<rule fileNamePattern="gdf" pathDirMoveTo="gd" shoudAddCounter="false" shoudAddMoveDate="false"/>
		<rule fileNamePattern="gdfg" pathDirMoveTo="gdfg" shoudAddCounter="false" shoudAddMoveDate="false"/>
	</rules>
	<defaultDirectory path="123"/>
</appSection>